* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "myriad";
    src: url("../assets/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
    font-family: "myriadSemiBold";
    src: url("../assets/fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.animatedTextContainer {
    background-color: bisque;
    position: relative;
    cursor: default;
    user-select: none;
    --maskX: 0;
    --maskY: 0;
}

.animatedTextContent {
    color: #000000;
    margin: 0;
}

.animatedTextContentClone {
    color: #000000;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;

    transition: all 0.4s ease-out;
    clip-path: polygon(
        0 0,
        calc(var(--maskX)* 1% + (var(--maskY) - 50) * 0.4%) 0,
        calc(var(--maskX)* 1% + (var(--maskY) - 50) * -0.4%) 100%,
        0 100%
    );
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 15px 10px;
    position: relative;
    left: -13px;
}

.animated-icon {
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in-left-section {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 470ms ease-out, transform 470ms ease-out,
    visibility 470ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-right-section {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 470ms ease-out, transform 470ms ease-out,
    visibility 470ms ease-out;
    will-change: opacity, transform, visibility;
}

.blur-fade-in {
    -webkit-filter: blur(5px);
    transform: scale(1.3);
    transition: 250ms ease-in,
    visibility 250ms ease-in;
    will-change: opacity, transform, visibility;
}

.is-visible-blur {
    -webkit-filter: blur(0px);
    transform: none;
    visibility: visible;
}

.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

h1 {
    font-family: "myriad";
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-family: "myriadSemiBold", sans-serif;
    font-size: 18px;
}

p {
    font-family: "myriad", sans-serif;
    font-size: 14px;
}

section {
    min-height: 100vh;
}

.NavigationBar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    position: fixed;
    z-index: 2;
}

.NavigationUl {
    display: flex;
}

.NavigationUl > li {
    list-style: none;
    margin-left: 50px;
}

.NavigationUl > li > a {
    text-decoration: none;
}

.navigationText {
    font-family: "myriadSemiBold", sans-serif;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.2s ease-in-out;
}

.navigationText:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.home-section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7cfe5;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.home-contents-wrapper {
    width: 100%;
    padding: 0 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-contents {
    width: 30%;
    flex-direction: column;
    align-items: center;
}

.greeters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    color: #fff;
}

.greeters-container {
    overflow-y: auto;
    height: 80%;
}

.greeters-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.greeters-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.circuits {
    height: 350px;
    width: 350px;
    position: absolute;
    right: -25px;
    top: -25px;
}

.myImage {
    width: 100%;
    padding: 10px;
}

.myImage:hover {
    -webkit-filter: blur(0px);
}

.home-button-container {
    display: flex;
    margin-top: 10px;
}

.home-button-container > p:nth-of-type(1) {
    margin-right: 15px;
}

.home-button-styles {
    cursor: pointer;
    transition: transform 0.05s ease-in-out, color 0s;
    text-decoration: none;
    color: #fff;
}

.home-button-styles:active {
    transform: translateY(2px);
    color: grey;
}

.spacing-compensate {
    height: 80px;
}

.about-container {
    background-color: #24305e;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    height: 415px;
    width: 415px;
}

.about-header-svg {
    height: 100%;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 200px;
}

.about-content-texts {
    display: flex;
    justify-content: center;
}

.about-text-header {
    margin-bottom: 50px;
}

.about-text-highlight {
    width: 35%;
    margin-right: 100px;
}

.about-text-general {
    width: 35%;
}

.project-container {
    background-color: #f7e8a0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-header-container {
    width: 415px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.project-header-svg {
    height: 100%;
    width: 100%;
}

.project-ul {
    width: 100%;
    padding: 0 6%;
}

.project-fadeIn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-li {
    list-style: none;
}

.project-content {
    background-color: #fff;
    height: 400px;
    width: 400px;
    margin: 30px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.project-background {
    /*
    height: 98%;
    width: 98%;
    border-radius: 50px;
    */
}

.bty {
    background-image: url("../assets/images/BetterThanYesterday/backdrop.png");
}

.portlogue {
    background-color:#21283e;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-content-wrapper {
    text-align: center;
    color: #fff;
}

.contact-header-p {
    margin-top: 5px;
}

.contact-email {
    margin-top: 15px;
}

footer {
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin: 0 5px;
}

footer ul li a {
    text-decoration: none;
}

footer p {
    color: #fff;
    font-size: 11px;
}